
#nickname{
  width: 199px;
}

.content{
  margin-top: -100px;
}

.dice{
  margin-top: -900px;
  margin-left: 210px;
  width: 30px;
}
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height:84vh;
  padding: 20px; 
  background-image: url('./bglogin.jpg');
  background-size:cover;
  height: 90.6vh;
  background-position: center;
}

*{
  color: aliceblue;
}

.navigation{
    
  font-size: 20px;
  font-weight: 600;
  height: 60px;
}

.btn-group{
 
 margin-right: 2%;
right: 0px;

}



.logo{
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
